.vs/
*.obj
*.tlog


src/c++/darts/*.vcxproj.filters
src/c++/darts/*.vcxproj.user

src/c++/darts/enc_temp_folder/.

src/c++/darts/x64/Release/*.pdb
src/c++/darts/x64/Debug/*.pdb


# Ignoriere Build-Ordner und temporäre Dateien
src/c++/darts/darts/x64/Release/*.iobj
src/c++/darts/darts/x64/Release/*.ipdb
src/c++/darts/darts/x64/Release/*.log
src/c++/darts/darts/x64/Release/*.obj
src/c++/darts/darts/x64/Release/*.pdb
src/c++/darts/darts/x64/Release/*.tlog


src/c++/darts/darts/x64/Debug/*.iobj
src/c++/darts/darts/x64/Debug/*.ipdb
src/c++/darts/darts/x64/Debug/*.log
src/c++/darts/darts/x64/Debug/*.obj
src/c++/darts/darts/x64/Debug/*.pdb
src/c++/darts/darts/x64/Debug/*.tlog
src/example

# Ignoriere alle Dateien im darts.tlog-Ordner
src/c++/darts/darts/x64/Release/darts.tlog/



